@charset "utf-8";

body{
	font-family: '맑은 고딕',dotum,'돋움',sans-serif;
	font-size:16px;color:#000;
}
a{color:inherit;}

header{width:100%;height:70px;background:#cecac9;position:relative; z-index:9999;}
header > h1{position:absolute;left:18%;top:0;}
.gnb{height:70px; line-height:70px; font-size:20px;text-align:center; float:right; margin-right:23.4%;}
.gnb > ul{float: left; overflow:hidden;}
.gnb > ul > li{float:left;width:155px;}
.gnb > ul > li:hover > a, .gnb > ul > li > a:focus{color:#3f2522;border-bottom:1px solid #3f2522;}

/*소메뉴*/
.gnb li ul{display:none;background:#fff;width:100%;height:280px;}
.gnb li:hover ul{display:block;}
.gnb li ul li:hover a, .gnb ul li ul li:focus{color:#957371;}

/*nav*/
.content{width:100%;height: 1500px;}
.bg{background:url(images/buintro.jpg) no-repeat;width:100%;height:248px;}
.content > .container{width:1112px;height:50px;margin:10px 480px}
.content > .container nav{width:560px;height:48px;margin:20px 150px 20px 150px;text-align:center;}
.content > .container nav ul li{float:left;padding:10px 40px;margin:2px;}
.content > .container .nav4{background-color:#665755;color:#fff;}
.content >.container nav ul li:hover{background-color:#665755;color:#fff;}

.map{margin:30px 200px;}
.map > p{font-size:14px;line-height:30px;margin-top:47px}

footer{clear:both;width:100%;height:290px;text-align: center;position: relative;}
footer > .sns{width:100%;height:200px;background: #6b645f;}
.sns > p{font-size:17px;color:#fff;padding:51px 0 40px 0;}
.sns > a{padding:5px;}
.address{width:100%;height:90px;background-color:#b7b7b7;padding-top:20px;}
.address > p{font-size:13px;line-height:15px}

.pp{position: absolute;right:4%;bottom:40%;text-align:center;}
.pp > a{color:#000;font-weight:400}

