@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body{font-family: 'Nanum Myeongjo', serif;font-size:13px}
a{color:#000;}

header{width:100%;height:200px;}
h1{width: 176px;height: 44px;margin:60px auto;background-image:url(../images/logo.png);background-repeat: no-repeat;}
h1>a{width: 176px;display:inline-block;height: 44px}
.lnb{position: absolute;right: 20px;top:20px;}
.lnb li{float: left;margin-right:5px;font-family:'Noto Sans'}
.lnb li i{font-size:15px;margin-left:5px}
.gnb{width: 483px;height: 20px;margin:0 auto;} 
.gnb li{float: left;font-size:16px;margin-right:100px;} 
.gnb li:nth-child(4){margin-right:0}
.gnb li a:hover{color:#dd768e;}

footer{width:100%;height: 229px;background-color: #D9D8D8;font-family: 'Noto Sans'}
.foot{width:1430px;height:229px;margin:0 auto;position: relative;}
footer article{position: absolute;left:0;top:40%;width:176px;height:44px;background-image:url(../images/logo.png)}
footer p{position: absolute;right:15%;top:30%;line-height:1.6;}
footer .pp{position: absolute;right: 0;top:10%;width:150px;height:150px;background-image:url(images/twi3.gif);text-align: center;font-weight:bold;font-family:'Noto Sans';}
